!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ISS
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application'
  %body
    .header
      = render 'header/header'
    .main.container
      = yield
    .footer
